instructions.txt
pyvenv.cfg
bin/
include/
node_modules/
package-lock.json
package.json
lib/
path/
get-pip.py
path/to/venv/
lib/python3.12/site-packages/
server/output_videos/
server/video_data.db
server/delete.py
server/show.py
index.html